body {
    font-family: "Nunito", sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;
    background-image: linear-gradient(lightblue, white);
  }
  
  .blurb h2 {
     color: purple;
     font-weight: 100;
     font-size: 2.5rem;
  }
  
  .blurb p {
      color: black;
      font-weight: 100;
      font-size: 1.125rem;
      line-height: 2;
  }
  
  .content {
      margin-top: 100px;
      margin-bottom: 100px;
  }
  
  #mainNavbar {
      font-size: 2rem;
      font-weight: 100;    
}
  
  #mainNavbar .nav-link {
      color: white;
  }
  
  #mainNavbar .nav-link:hover {
      color: Purple;
  }
  
  #mainNavbar .navbar-brand {
      color: black;
      font-size: 2rem;
  }
  
  #headingGroup span {
      color: #EA1C2C;
  }
  
  #headingGroup h1 {
      font-weight: 100;
      font-size: 4.4rem;
  }
  
  .navbar {
      background: rgb(222, 192, 222);
  }
  
  @media (max-width: 1200px) {
      #headingGroup h1 {
          font-weight: 100;
          font-size: 3rem;
      }
      .blurb h2 {
          font-size: 2rem;
      }
  }