.btn {
        border: none;
        background-color: inherit;
        padding: 25px 49px;
        font-size: 35px;
        cursor: pointer;
        display: inline-block;
  }

.btn:hover {background: #0b0b0b80;}