.navbar {
  background-color: rgba(0, 0, 0, 0.5);
}

header{
  background-color: lavender;
}
nav a {
    text-decoration: none;
    color: black;
    padding: 0.05em 0.6em;
    border: 4px solid black;
}

h1 {
  font-weight: bold;
  color: white;
  font-size: 40px;
  text-align: center;
}

.txt1 {
  font-weight: bold;
  text-align: center;
}

.cont {
  height: 300px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn {
  letter-spacing: 5px;
  word-spacing: 10px;
  border: 1px;
  padding: 16px 250px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 16px;
  margin: 4px 12px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.5);
  }

.btn:hover {
  color: white;
  background: #0b0b0b80;
  box-shadow: 0 3px 5px 5px rgba(102, 51, 153, 0.5);
  }

body{
  background-image: url(https://i.postimg.cc/QCv4RPPK/Design-Mind-Io-T.gif);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      }

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }

.div1{
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: azure;
  background-image: linear-gradient(azure, powderblue);
}

footer{
  background-color: rgba(192, 192, 192, 0.4) ; text-align: center; color: white ; 
}
aside {
  width: 30%;
  padding-left: .5rem;
  margin-left: .5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #29627e;
  border:rgba(192, 192, 192, 0.4)
}

aside > p {
  margin: .5rem;
}

p {
  font-family: 'Fira Sans', sans-serif;
}

#all_quiz{
  text-align: center;
}