/* 
filename: [style.css] 
author: [IOT Club] 
created: [09/03/2022] 
last modified: [30/03/2022] 
description: [quiz.html, topic.html, index.html, enhancements.html]
*/ 

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 0.05em 0.6em;
  border: 4px solid black;
}

nav a:hover {
color: white;
background: #0b0b0b80;
box-shadow: 0 3px 5px 5px rgba(102, 51, 153, 0.5);
}

h1 {
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
color: white;
font-size: 40px;
text-align: center;
}

h2, h3 {
font-family: 'Times New Roman', Times, serif;
}

.txt1 {
font-weight: bold;
text-align: center;
}

.cont {
height: 300px;
position: relative;
}

.center {
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.btn {
letter-spacing: 5px;
word-spacing: 10px;
border: 1px;
padding: 16px 250px;
background-color: rgba(255, 255, 255, 0.7);
text-align: center;
font-size: 16px;
margin: 4px 12px;
transition-duration: 0.4s;
cursor: pointer;
box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.5);
}

.btn:hover {
color: white;
background: #0b0b0b80;
box-shadow: 0 3px 5px 5px rgba(102, 51, 153, 0.5);
}

body{
background-image: url(https://i.postimg.cc/QCv4RPPK/Design-Mind-Io-T.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

table, th, td {
border: 1px solid black;
border-collapse: collapse;
}

.div1{
height: 100%;
margin: 0;
background-repeat: no-repeat;
background-attachment: fixed;
background-color: rgba(255, 255, 255, 0.7);
background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(102, 51, 153, 0.5));
}

cite{
color:bisque;
font-style:italic ;
}

footer{
margin-top: 50px;
background-color: rgba(192, 192, 192, 0.4) ; text-align: center; color: black ; 
}
aside {
width: 30%;
padding-left: .2rem;
margin-left: .2rem;
float: right;
box-shadow: inset 5px 0 5px -5px #29627e;
font-style: italic;
color: #29627e;
border : solid 2px rgba(202, 15, 15, 0.3)

}
aside.groove { border-style: groove 

}
aside > p {
margin: .5rem;
}

p {
font-family: 'Fira Sans', sans-serif;
}

/*Quiz*/
#all_quiz{
  text-align: center;
}
#quiz_details{
  display:inline-block;
  margin-right:30px;
  text-align:right;
}

/*Topic*/
#topic_ashton{
  text-align: center;
}