/* 
filename: [enhancements.css] 
author: [IOT Club] 
created: [09/03/2022] 
last modified: [13/04/2022] 
description: [enhancements.html]
*/ 


body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(https://i.postimg.cc/QCv4RPPK/Design-Mind-Io-T.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .div1{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.7);
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(102, 51, 153, 0.5));
    padding: 50px;
    }
    footer{
        margin-top: 50px;
        background-color: rgba(192, 192, 192, 0.4);
        text-align: center;
        color: black;
        font-size: 15px; 
      }
    nav a:hover {
    color: white;
    box-shadow: 0 3px 5px 5px rgba(102, 51, 153, 0.5);
    }
    nav a {
        text-decoration: none;
        color: white;
        padding: 0.1em 0.8em;
        border: 4px solid black;
        text-align: center;
      }
    .blurb {
        width:90%;
    }
  .blurb2{
      padding-top: 100px;
  }
  .blurb h2 {
     color: aliceblue;
     font-weight: 100;
     font-size: 30px;
     color: lightpink;
  }
  
  .blurb p {
      color: white;
      font-weight: 100;
      font-size: 15px;
      line-height: 2;
  }
  
  .content {
      margin-top: 100px;
      margin-bottom: 100px;
  }
  
  #mainNavbar {
      font-size: 2rem;
      font-weight: 100;    
}
  
  #mainNavbar .nav-link {
      color: purple;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  #mainNavbar .nav-link:hover {
      color: purple;
  }
  
  #mainNavbar .navbar-brand {
      color: lightpink;
      font-size: 2rem;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  #headingGroup span {
      color: #EA1C2C;
  }
  
  #headingGroup h1 {
      font-weight: 100;
      font-size: 4.4rem;
  }
  
  .navbar {
      background: black;
  }
  #a {
    text-align:center;
    }
    .head1 {
        /*Shadow to increase readability*/
        text-shadow: -1.5px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        color: white;
        font-family:'Times New Roman', Times, serif ;
        background-image: url(https://iot5.net/wp-content/uploads/2019/09/internet-of-things-technology-3.jpg);
        border-color: #780745;
        padding : 0.5em ;
        background-blend-mode: lighten ;
    }
    #logo {
        width: 100px;
        height: 65px;
        margin-top: 70px;
        }

     #all_quiz{
        text-align: center;
       }

  @media (max-width: 1200px) {
      #headingGroup h1 {
          font-weight: 100;
          font-size: 3rem;
      }
      .blurb h2 {
          font-size: 30px;;
      }
      
  }