/* 
filename: [style.css] 
author: [IOT Club] 
created: [09/03/2022] 
last modified: [13/04/2022] 
description: [quiz.html, topic.html, index.html]
*/ 

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@keyframes transitionIn {

  from {
    opacity: 0 ;
    transform: rotateX(-10deg) ;
  }

  to {
 opacity: 1 ;
 transform: rotateX(0) ; 
  }

}
.cont {
  justify-content: center ;
}

.div1 , .all_quiz, .cont, .head1 {
   animation:transitionIn  0.50s ;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 0.1em 0.8em;
  border: 4px solid black;
}

nav a:hover {
color: white;
box-shadow: 0 3px 5px 5px rgba(102, 51, 153, 0.5);
}

.head1 {
  /*Shadow to increase readability*/
  text-shadow: -1.5px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: white;
  font-family:'Times New Roman', Times, serif ;
  background-image: url(https://iot5.net/wp-content/uploads/2019/09/internet-of-things-technology-3.jpg);
  border-color: #780745;
  padding : 0.5em ;
  background-blend-mode: lighten ;
 
}

.image {
  
  padding: 20px ;
  margin: 0 auto ;
  display: flex ;
  justify-content: center ;
  align-items: center ;
}

.box img {
  width: 250px ;
  border-radius: 5px ;
  padding:1em ;
}

.box {
  width: 250px ;
  margin: 0 10px ;
  box-shadow: 0 0 20px 2px plum;
  transition: 1s ;
}

.box:hover {
  transform: scale(1.3) ;
  z-index: 2;
  cursor: pointer ;
}


.head2 {
  color: #780745;
}
#logo {
  width: 100px;
  height: 65px;
}

h1 {
  font: 40px 'Times New Roman', Times, serif, bold, white, center
}

h2, h3 {
font-family: 'Times New Roman', Times, serif;
color: #780745;
}

.txt1 {
font-weight: bold;
text-align: center;
}

.cont {
height: 300px;
position: relative;
}

.center {
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}


.btn {
letter-spacing: 5px;
word-spacing: 10px;
border: 1px;
padding: 16px 250px;
background-color: rgba(255, 255, 255, 0.7);
text-align: center;
margin: 4px 12px;
transition-duration: 0.4s;
cursor: pointer;
box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.5);
}

.btn:hover {
background-color: rgb(191, 133, 245);
box-shadow: 0 3px 5px 5px rgba(102, 51, 153, 0.5);
}

body{
background-image: url(https://i.postimg.cc/QCv4RPPK/Design-Mind-Io-T.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

header {
  margin-top: 70px;
}

table, th, td {
border: 1px solid black;
border-collapse: collapse;
}

.div1{
height: 100%;
margin: 0;
background-repeat: no-repeat;
background-attachment: fixed;
background-color: rgba(255, 255, 255, 0.7);
background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(102, 51, 153, 0.5));
padding: 50px;
}

cite{
color:bisque;
font-style:italic ;
font-size: 18px;
background-color: black;
border-color: #780745;
}

footer{
  margin-top: 50px;
  background-color: rgba(192, 192, 192, 0.4);
  text-align: center;
  color: black;
  font-size: 15px; 
}

aside {
width: 30%;
padding-left: .2rem;
margin-left: .2rem;
float: right;
box-shadow: inset 5px 0 5px -5px #29627e;
font-style: italic;
color: #29627e;
border : solid 2px rgba(202, 15, 15, 0.3) ;
background-color: rgba(255, 255, 255, 0.7) ;
}
aside.groove { border-style: groove 

}
aside > p {
margin: .5rem;
}

.kevin {
  /*Originally just had "size:". Not sure what was meant here but just changed it to resize. No impact anyway.*/
  font-size: 15em;
  border: 1px solid salmon;
  background-color :rgba(0, 0, 0, 0.5) ;
}
p {
font-family: 'Fira Sans', sans-serif;
}

table {
  border: solid 3px purple;
  width: 90%;
  height: 300px;
  margin-bottom: 1.5em;
}

th,td {
  font-size: large;
}
td {
  background-color :rgba(192, 28, 233, 0.3)
}
th {
  background-color :rgba(192, 192, 192, 0.4)
}

#dl {
  font-size: 16px;
}
.size {
  font-size: 15px;
}
.zoom {overflow:visible; height:720px; width:1296px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.zoom img {width:100%;
		-moz-transition: all .3s ;
        -ms-transition: all .3s ;
        -o-transition: all .3s ;
		transition: all .3s ;
  }

.zoom:hover img {width:120%; margin: 0 0 0 -10%;
		-moz-transition: all .3s ;
        -ms-transition: all .3s ;
        -o-transition: all .3s ;
		transition: all .3s ;
    cursor : pointer ;

  }

/*Quiz*/
#all_quiz{
  text-align: center;
}
#quiz_details{
  display:inline-block;
  margin-right:30px;
  text-align:right;
}

#quiz_details label:first-child {color:blue;}
#quiz_details label:nth-child(4) {color:red;}
#quiz_details label:nth-child(7) {color:green;}

#slider{
  width:50%;
  text-align: center;
}

/*Topic*/
#topic_ashton{
  text-align: center;
}
#square{
  list-style-type: square;
}
#border5{
  border: 5px;
}

/*Index*/
#citation{
  color: white;
  text-align: center;
}